body{
    background-color: pink;
    text-align: center;
    font-family: sans-serif;
}

h1{
    align-content: center;
    color: beige;
    border: 3px solid;
    background-color: black;
    opacity: 80%;
    width: auto;
    border-radius: 10px;
    
    
}

h4{
    color: white;
    font-size: 20px;
    
}

.form,
.greeting{
    display: none;
}

.showing{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.js-toDoList{
    color:white;
    list-style-type: none;
    

}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

button:hover{
    background-color: beige;
    border-radius:50%;
}
.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}



.js-clock{

    margin-top: 15%;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;

}

#right{
    text-align: right;
}
input[type="text"]
{
    background: transparent;
    border: none;
    border: 1px solid;
    border-radius: 2px;
}
